
body{
    background-color:rgba(242, 236, 134, 0.424);
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.content-task1{
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}
#new-task,#add-task{
    border:none;
    font-size: 1rem;
    outline: none;
    padding: 1rem;
}

#new-task{
    width: 25rem;
    border-radius: 1rem;
}

#add-task{
    background-color: black;
    color: white;
    border-radius: 50%;
    align-items: center;
    width: 45px;
    height: 45px;
    cursor: pointer;
    transition: 300ms;
}
#add-task:hover{
    background-color: rgb(43, 42, 42);
}
#listaPendente,#listaConcluida{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0;
}
#listaPendente li, #listaConcluida li{
    list-style-type: none;
    font-size: 1.4rem;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    padding: 1;
    justify-content: space-between;
    cursor: default;
}


#listaConcluida li:hover, #listaPendente li:hover{
    background-color:rgba(242, 236, 134, 0.424);
    transition: .4s;
    border-radius: 1rem;
    padding-left: 1rem;
}

#remover {
    border: none;
    background-color: rgb(20, 220, 73);
    color: white;
    padding: .2rem, .4rem;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#adicionar{
    border: none;
    background-color: crimson;
    color: white;
    padding: .2rem, .4rem;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}




